@{
    ViewBag.Title = "Sistema FAC";
}


    <!DOCTYPE html>
<html lang="en">
<head>
   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
       <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

  
           
      
    
</head>

<body>

    
   
    <div class="jumbotron">
        <h1>SISTEMA FAC</h1>
    </div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sistema FAC</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Inicio</a></li>
      <li><a href="http://localhost:50542/Usuario/Create">Cadastro do Usuario</a></li>
      <li><a href="http://localhost:50542/TipoEvento/Create">Cadastro do Tipo de Evento</a></li>
	  <li><a href="http://localhost:50542/Servico/Create">Cadastro do Serviço</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://localhost:50542/Usuario/Create"><span class="glyphicon glyphicon-user"></span> Inscrever-se</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
    </ul>
  </div>
</nav>
    <img src="~/Imagens/KAZA-FENDI-FESTAS-EVENTOS-SP.jpg">
</body>
</html>
    
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ajuda &raquo;</a></p>
</div>
