@{
    ViewBag.Title = "Sistema FAC";
}

<div class="jumbotron">
    <h1>SISTEMA FAC</h1>
    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sistema FAC</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Inicio</a></li>
      <li><a href="http://localhost:50542/Usuario/Create">Cadastro do Usuario</a></li>
      <li><a href="http://localhost:50542/TipoEvento/Create">Cadastro do Tipo de Evento</a></li>
	  <li><a href="http://localhost:50542/Servico/Create">Cadastro do Serviço</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Inscrever-se</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
    </ul>
  </div>
</nav>

</body>
</html>
    
    <p class="lead">O Sistema FAC é um sistema para catalogar os diferentes tipos de servicos em categorias de Aniversario,Casamento,Formatura.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ajuda &raquo;</a></p>
</div>
<div>
    @Html.ActionLink("Cadastro de Usuario", "Create", new { controller = "Usuario" }, new { @class = "btn btn-default" })

    @Html.ActionLink("Cadastro de Tipo de Eventos", "Create", new { controller = "TipoEvento" }, new { @class = "btn btn-default" })

    @Html.ActionLink("Cadastro de tipo de Servisos", "Create", new { controller = "Servico" }, new { @class = "btn btn-default" })
</div>